.b-head-logo,
.b-head-logo__to-right,
.b-head-logo__inner
{
    background: url(b-head-logo.png) no-repeat;
}

.b-head-logo
{
    position: relative;

    padding-left: 17px;
}

.b-head-logo__to-right
{
    padding-right: 17px;
    
    background-position: 100% 0;
}

.b-head-logo__inner
{
    position: relative;

    height: 152px;
    padding-left: 70%;

    background-position: 0 100%;
    background-repeat: repeat-x;
}

/* Сам логотип (begin) */ /**/
    .b-head-logo__logo
    {
        position: absolute;
        top: 54px;
        left: 20px;
    }
/* Сам логотип (end) */ /**/

/* Меню слева от логотипа (begin) */ /**/
    .b-head-logo__menu
    {
        min-width: 140px;
        height: 152px;
        margin: 0 auto;

        border-collapse: collapse;
    }

    .b-head-logo__menu__cell
    {
        vertical-align: middle;
    }

    .b-head-logo__menu .b-main-menu
    {
        display: -moz-inline-box;
        display: inline-block;
    }
/* Меню слева от логотипа (end) */ /**/