.b-switcher
{
    display: -moz-inline-box;
    display: inline-block;
}

.b-switcher__item
{
    float: left;
}

.b-switcher__link
{
    display: -moz-inline-box;
    display: inline-block;

    text-decoration: none;

    cursor: pointer;
    border-bottom: 1px dashed;
}

.b-switcher__link_current
{
    cursor: default;
}

.b-switcher .b-switcher__item_first .b-switcher__link_current
{
    background-position: 0 100% !important;
}

.b-switcher .b-switcher__item_last .b-switcher__link_current
{
    background-position: 100% 100% !important;
}

/* Меню выбора действия пользователя (войти, зарегистрироваться, вспомнить пароль) (begin) */ /**/
    .b-switcher_user
    {
        background: url(b-switcher_user.png) no-repeat;
    }

    .b-switcher_user .b-switcher__to-right
    {
        position: relative;
        height: 20px;
        right: -10px;
        padding: 3px 10px 0 0;

        background: url(b-switcher_user.png) 100% 0 no-repeat;
    }

    .b-switcher_user .b-switcher__items
    {
        margin: 0 -10px;
    }

    .b-switcher_user .b-switcher__link
    {
        font-size: 130%;
        
        margin: 2px 10px 0;

        color: #fff;
    }

    .b-switcher_user .b-switcher__link_current
    {
        height: 18px;
        margin: -3px 0px 0 0;
        padding: 5px 10px 0 10px;

        background: url(b-switcher_user.png) -10px 100% no-repeat;

        border-bottom: none;
    }

/* Меню выбора действия пользователя (войти, зарегистрироваться, вспомнить пароль) (end) */ /**/